<div class="container mt-5">
  <div class="row">
    <div class="col">
      <%= link_to "作成日順", admin_comments_path(create_latest: "作成日"), class: "btn btn-sm btn-warning" %>
      <%= link_to "感情分析スコア順", admin_comments_path(score_revel: "感情分析スコア"), class: "btn btn-sm btn-success" %>
      <div class="score_revel text-right">
        <b class="bg-danger text-white">スコア＜−０.３４(要確認)</b>
        <b class="bg-warning text-white mx-3">−０.３３＜スコア＜−０.３３</b>
        <b class="bg-primary text-white">０.３４＜スコア</b>
      </div>
      <h4 class="mt-4 mb-2 bg-secondary text-white">コメント一覧</h4>
      <div class="review_info card">
        <% @reviews.each do |review| %>
          <div class="card mb-1">
            <div class="card-body">
              <div class="sentiment text-right">
                <% if review.score <= -0.34 %>
                  <span class="sentiment-score mr-2 bg-danger text-white"><b>感情分析スコア：<%= review.score %></b></span>
                <% elsif review.score >= -0.33 && review.score <= 0.33%>
                  <span class="sentiment-score mr-2 bg-warning text-white"><b>感情分析スコア：<%= review.score %></b></span>
                <% else %>
                  <span class="sentiment-score mr-2 bg-primary text-white"><b>感情分析スコア：<%= review.score %></b></span>
                <% end %>
                <span class="sentiment-magnitude mr-2 bg-info text-white"><b>感情強度スコア：<%= review.magnitude %></b></span>
                <button type="button" class="close" aria-label="Close">
                  <%= link_to admin_review_path(review.id), method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                    <span aria-hidden="true">&times;</span>
                  <% end %>
                </button>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-3 d-flex flex-column form-inline">
                    <%= link_to edit_admin_book_path(review.book.id) do %>
                      <%= image_tag review.book.item_image_url, size: "100x140", class:"mr-3" %>
                    <% end %>
                    <%= review.book.title%>
                  </div>
                  <div class="col-md-9">
                    <div class="row border-bottom">
                      <div class="col-md-2 ">
                        <%= link_to edit_admin_user_path(review.user.id) do %>
                          <%= image_tag review.user.get_profile_image(60,60), class:"rounded-circle"%>
                        <% end %>
                      </div>
                      <div class="col-md-2 mt-3">
                        <%= review.user.nickname %>
                      </div>
                      <div class="col-md-4 mt-3">
                        <p><%= l review.created_at %>&ensp;&ensp;&ensp;<%= review.favorites.count%>いいね</p>
                      </div>
                    </div>
                    <div class="row", style="word-break: break-all;">
                      <%= review.comment%>
                    </div>
                  </div>
                </div>
              </div>
              <% review.comments.where.not(id: nil).each do |comment| %>
                <div class="card mb-1 ml-5">
                  <div class="card-body">
                    <div class="sentiment text-left">
                      <% if comment.score <= -0.34 %>
                        <span class="sentiment-score ml-5 bg-danger text-white"><b>感情分析スコア：<%= comment.score %></b></span>
                      <% elsif -0.33 <= comment.score && comment.score <= 0.33 %>
                        <span class="sentiment-score ml-5 bg-warning text-white"><b>感情分析スコア：<%= comment.score %></b></span>
                      <% else %>
                        <span class="sentiment-score ml-5 bg-primary text-white"><b>感情分析スコア：<%= comment.score %></b></span>
                      <% end %>
                      <span class="sentiment-magnitude ml-3 bg-info text-white"><b>感情強度スコア：<%= comment.magnitude %></b></span>
                      <button type="button" class="close" aria-label="Close">
                        <%= link_to admin_comment_path(comment), method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                          <span aria-hidden="true">&times;</span>
                        <% end %>
                      </button>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-2 d-flex flex-column form-inline">
                          <%= link_to edit_admin_user_path(comment.user.id) do %>
                            <%= image_tag comment.user.get_profile_image(60,60), class:"rounded-circle" %>
                          <% end %>
                        </div>
                        <div class="col-md-10">
                          <div class="row border-bottom">
                            <%= comment.user.nickname %>&ensp;&ensp;&ensp;<%= l comment.created_at%>
                          </div>
                          <div class="row", style="word-break: break-all;">
                            <%= comment.comment %>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
