<div class="container">
<h2><%= @word%>の検索結果</h2>
  <div class="search_form row">
    <% unless @books.blank? %>
      <% @books.each do |book| %>
        <div class="col-2 mb-2 d-flex flex-column form-inline">
          <%= link_to book_path(book), method: :get do%>
            <%= image_tag book.item_image_url, size: "100x140"%>
          <% end %>
          <%= link_to book_path(book), method: :get do%>
            <%= book.title %>
          <% end%>
          <%= book.author %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="api_search_form row">
      <h5>
        <b>検索された本はまだ登録されていません。<br>
        こちらから再度検索して、本を登録してください。
        </b>
      </h5>
      <div class="search_form col-10 mt-3">
        <%= render "public/api_searches/api_search"%>
      </div>
      <em>
        ※こちらは楽天APIを利用し、本の情報を取得します。<br>
         検索結果の表示上限は３０件です。<br>
         本のタイトルと巻数で検索される方は、間にスペースは入れず検索してください。
      </em>
    </div>
  <% end %>
</div>