<!--検索結果を表示-->
<div class="container mt-5">
  <h2 class="card-title bg-secondary text-white">『<%= @title %>』の検索結果</h2>
  <div class="api_search_form row">
    <% if @books.present? %>
      <% @books.each do |book| %>
        <div class="col-md-2 mb-2">
          <div class="book_date d-flex flex-column form-inline">
            <%= link_to admin_api_book_create_path(isbn: book.isbn), method: :post do%>
              <%= image_tag book.item_image_url, size: "100x140"%>
            <% end %>
            <%= book.title %><br>
            <%= book.author %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-10">
        <h5>検索結果はありません</h5>
        <h5><b>検索ワードを詳細にしてください</b></h5>
        <%=render "admin/api_searches/api_search" %>
      </div>
    <% end %>
  </div>
</div>