<div class='container'>
  <h5 class="my-4 px-0", style="background-color: #eee;">
    <b><%= @user.nickname %>さんの会員情報編集画面</b>
  </h5>
  <div class='row'>
    <div class="col-md-4">
      <%= render "admin/shared/error_messages", resource: @user %>
      <%= form_with model: @user, url:admin_user_path(@user) do |f| %>
        <div class="form-group">
          <%= f.label :id, "会員ID：" %>
          <%= @user.id %>
        </div>
        <div class="form-group">
          <%= f.label :profile_image, "プロフィール画像" %><hr>
          <%= image_tag @user.get_profile_image(100,100) %>
          <%= f.file_field :profile_image, class: "form-control-file plofile_image", accept: 'image/*' %>
        </div>
        <div class="form-group">
          <%= f.label :nickname, "ニックネーム" %><br>
          <%= f.text_field :nickname, class: "ml-2" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.text_field :email, class: "ml-2" %>
        </div>
        <div class="form-group">
          <%= f.label :is_active, "会員ステータス" %><br>
          <%= f.radio_button :is_active, :true %><%= f.label :is_active, "有効" %>
          <%= f.radio_button :is_active, :false %><%= f.label :is_active, "退会" %>
        </div>
        <div class="form-group">
          <%= f.submit '変更を保存',class: 'btn btn-success mr-3' %>
          <%= link_to "ユーザー一覧に戻る", admin_users_path(@user), class: "btn btn-sm btn-primary" %>
        </div>
        <div class="form-group-guestuser">
          <% if @user.nickname == "guestuser"%>
            <%= link_to "ゲストユーザーを削除する", admin_user_path(@user), method: :delete, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8">
      <%= link_to "作成日順", edit_admin_user_path(create_latest: "作成日"), class: "btn btn-sm btn-warning" %>
      <%= link_to "更新日順", edit_admin_user_path(update_latest: "更新日"), class: "btn btn-sm btn-primary" %>
      <h4 class="mt-4 mb-2 bg-secondary text-white">レビュー一覧</h4>
      <div class="review_info card">
        <% @reviews.each do |review| %>
          <div class="card mb-1">
            <div class="card-body">
              <button type="button" class="close" aria-label="Close">
                <%= link_to admin_review_path(review.id), method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                  <span aria-hidden="true">&times;</span>
                <% end %>
              </button>
              <div class="container">
                <div class="row">
                  <div class="col-md-3 d-flex flex-column form-inline">
                    <%= link_to edit_admin_book_path(review.book.id) do %>
                      <%= image_tag review.book.item_image_url, size: "100x140", class:"mr-3" %>
                    <% end %>
                    <%= review.book.title%>
                  </div>
                  <div class="col-md-9">
                    <div class="row border-bottom">
                      <div class="col-md-2 ">
                        <%= link_to edit_admin_user_path(review.user.id) do %>
                          <%= image_tag review.user.get_profile_image(60,60), class:"rounded-circle"%>
                        <% end %>
                      </div>
                      <div class="col-md-2 mt-3">
                        <%= review.user.nickname %>
                      </div>
                      <div class="col-md-4 mt-3">
                        <p><%= l review.created_at %>&ensp;&ensp;&ensp;<%= review.favorites.count%>いいね</p>
                      </div>
                    </div>
                    <div class="row">
                      <%= review.comment%>
                    </div>
                  </div>
                </div>
              </div>
              <% review.comments.where.not(id: nil).each do |comment| %>
                <div class="card mb-1 ml-5">
                  <div class="card-body">
                    <button type="button" class="close" aria-label="Close">
                      <%= link_to admin_comment_path(comment), method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                        <span aria-hidden="true">&times;</span>
                      <% end %>
                    </button>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-2 d-flex flex-column form-inline">
                          <%= link_to edit_admin_user_path(comment.user.id) do %>
                            <%= image_tag comment.user.get_profile_image(60,60), class:"rounded-circle" %>
                          <% end %>
                        </div>
                        <div class="col-md-10">
                          <div class="row border-bottom">
                            <%= comment.user.nickname %>&ensp;&ensp;&ensp;<%= l comment.created_at%>
                          </div>
                          <div class="row">
                            <%= comment.comment %>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>