<div class="container">
  <div class="row">
    <div class="col">
      <div class="review_info card">
        <h4 class="mb-2 bg-secondary text-white">レビュー</h4>
        <% @reviews.each do |review| %>
          <div class="card mb-1">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 d-flex flex-column form-inline">
                    <%= link_to book_path(review.book.id) do %>
                      <%= image_tag review.book.item_image_url, size: "100x140", class:"mr-3" %>
                    <% end %>
                    <%= review.book.title%>
                  </div>
                  <div class="col-md-9">
                    <div class="row border-bottom">
                      <p><%= l review.created_at %>&ensp;&ensp;&ensp;<%= review.favorites.count%>いいね</p>
                    </div>
                    <div class="row">
                      <%= review.comment%>
                    </div>
                  </div>
                </div>
              </div>
              <% review.comments.where.not(id: nil).each do |comment| %>
                <div class="card mb-1 ml-5">
                  <div class="card-body">
                    <% if comment.user_id == current_user.id %>
                      <button type="button" class="close" aria-label="Close">
                        <%= link_to comment_path(comment), method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                          <span aria-hidden="true">&times;</span>
                        <% end %>
                      </button>
                    <% end %>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-2 d-flex flex-column form-inline">
                          <%= link_to user_path(comment.user.id) do %>
                            <%= image_tag comment.user.get_profile_image(60,60), class:"rounded-circle" %>
                          <% end %>
                        </div>
                        <div class="col-md-10">
                          <div class="row border-bottom">
                            <%= comment.user.nickname %>&ensp;&ensp;&ensp;<%= l comment.created_at%>
                          </div>
                          <div class="row">
                            <%= comment.comment %>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>