<!--サイドバー-->
<div class='container'>
  <div class='row mt-5'>
    <div class='col-md-3'>
      <div class="book_info d-flex flex-column form-inline">
        <h3><b><%= @book.title %></b></h3>
        <div><%= image_tag @book.item_image_url, size: "140x180" %></div>
        <div><%= @book.author %></div>
        <b>レビュー数：<%= @book.reviews.count %></b>
        <b>観覧数：<%= @book.impressions_count %></b>
        <div><%= link_to "楽天Booksで購入", @book.item_url, class: "btn btn-info my-2" %></div>
      </div>
      
      <div class="read_status d-flex flex-column form-inline">
        <% if @user_book.present? && @user_book.status == 1 %>
          <%= link_to "読んだ", "/read_status/#{@book.id}/update/1", method: :get, class:"btn btn-warning" %> </br>
          <%= link_to "読んでいる", "/read_status/#{@book.id}/update/2", method: :get,class:"btn btn-outline-success" %><br>
          <%= link_to "読みたい", "/read_status/#{@book.id}/update/3", method: :get, class:"btn btn-outline-success" %>
        <% elsif @user_book.present? && @user_book.status == 2 %>
          <%= link_to "読んだ", "/read_status/#{@book.id}/update/1", method: :get, class:"btn btn-outline-success" %> </br>
          <%= link_to "読んでいる", "/read_status/#{@book.id}/update/2", method: :get, class:"btn btn-warning" %> </br>
          <%= link_to "読みたい", "/read_status/#{@book.id}/update/3", method: :get, class:"btn btn-outline-success" %>
        <% elsif @user_book.present? && @user_book.status == 3 %>
          <%= link_to "読んだ", "/read_status/#{@book.id}/update/1", method: :get, class:"btn btn-outline-success" %> </br>
          <%= link_to "読んでいる", "/read_status/#{@book.id}/update/2", method: :get,class:"btn btn-outline-success" %><br>
          <%= link_to "読みたい", "/read_status/#{@book.id}/update/3", method: :get, class:"btn btn-warning" %>
        <% else %>
          <%= link_to "読んだ", "/read_status/#{@book.id}/update/1", method: :get, class:"btn btn-outline-success" %> </br>
          <%= link_to "読んでいる", "/read_status/#{@book.id}/update/2", method: :get,class:"btn btn-outline-success" %><br>
          <%= link_to "読みたい", "/read_status/#{@book.id}/update/3", method: :get, class:"btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
<!--end
      サイドバー-->
      
<!--レビュー-->
    <div class='col-md-9'>
      <div class="review_info">
        <div class="review-button">
          <% unless @reviews.where(user_id: current_user.id, book_id: @book.id).present?%>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review_form">
              レビューを投稿
            </button>
          <% else %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review_edit">
              レビューを編集
            </button>
          <% end %>
        </div>
        
        <!-- Modal/review_form-->
        <div class="modal fade" id="review_form" tabindex="-1" role="dialog" aria-labelledby="review_formLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">レビュー投稿フォーム</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%= form_with model:[@book, @review], url: book_reviews_path(@book), method: :post, remote: true do |f| %>
                <div class="modal-body">
                  <div class="form_group">
                    <%= f.text_area :comment, class:"js-comment", size:"50x5", placeholder:"コメントする(2~200文字)" %>
                    <P class="js-comment-count pull-right text-right"></P>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= f.submit "投稿", class: "btn btn-primary"%>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- end
        Modal/review_form-->
        
        <!-- Modal/review_edit-->
        <div class="modal fade" id="review_edit" tabindex="-1" role="dialog" aria-labelledby="review_editLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">レビュー編集フォーム</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <%= form_with model:@user_review, url: book_review_path(@book), method: :patch, remote: true do |f| %>
                <div class="modal-body">
                  <div class="form_group">
                    <%= f.text_area :comment, class:"comment", size:"50x5", class: "form_control"%>
                    <P class="comment-count pull-right text-right"></P>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= f.submit "更新", class: "btn btn-primary"%>
                  <%= link_to "レビュー削除", book_review_path(@book), method: :delete, class:"btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- end
        Modal/review_edit-->
        
        <div class="book_tag mt-3 ">
          <h4 class="bg-secondary text-white"><%= current_user.nickname %>さんのレビュー</h4>
        </div>
        <div class="card border-success mb-3 pd-0">
          <div class="card-body pd-0">
            <div class="container">
              <div class="row">
                <% if @user_review.present?%>
                  <div class="col-md-2 d-flex flex-column form-inline">
                    <%= image_tag @user_review.user.get_profile_image(60, 60) %>
                  </div>
                  <div class="col-md-9">
                    <div class="row border-bottom">
                        <%= @user_review.user.nickname %>&ensp;&ensp;&ensp;<%= l @user_review.created_at %>
                    </div>
                    <div class="row", style="word-break: break-all;">
                      <%=safe_join(@user_review.comment.split("\n"),tag(:br))%>
                    </div>
                  </div>
                <% else %>
                  <b>まだレビューはありません</b>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <h4 class="bg-secondary text-white">レビュー一覧</h4>
        <% @reviews.each do |review| %>
          <div class="card border-success mb-1">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-2 d-flex flex-column form-inline">
                    <%= link_to user_path(review.user_id) do %>
                      <%= image_tag review.user.get_profile_image(60, 60), class:"rounded-circle" %>
                    <% end %>
                  </div>
                  <div class="col-md-9">
                    <div class="row border-bottom">
                      <%= review.user.nickname %>&ensp;&ensp;&ensp;<%= l review.created_at %>
                    </div>
                    <div class="row", style="word-break: break-all;">
                      <%=safe_join(review.comment.split("\n"),tag(:br))%>
                    </div>
                    <div class="row">
                      <div id=<%= "favorite_btn" + review.id.to_s %>>
                        <%= render "public/favorites/favorite", review: review, book: @book %> <!--reviewはeach文のブロック変数使ってる-->
                      </div>
                    </div>
                  </div>
                </div>
                <% review.comments.where.not(id: nil).each do |comment| %>
                  <div class="card border-primary mb-1 ml-5">
                    <div class="card-body">
                      <% if comment.user_id == current_user.id %>
                        <button type="button" class="close" aria-label="Close">
                          <%= link_to comment_path(comment), method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                            <span aria-hidden="true">&times;</span>
                          <% end %>
                        </button>
                      <% end %>
                      <div class="row">
                        <div class="col-md-2 d-flex flex-column form-inline">
                          <%= image_tag comment.user.get_profile_image(60,60), class:"rounded-circle" %>
                        </div>
                        <div class="col-md-9">
                          <div class="row border-bottom">
                            <%= comment.user.nickname %>&ensp;&ensp;&ensp;<%= l comment.created_at %>
                          </div>
                          <div class="row", style="word-break: break-all;">
                            <%=safe_join(comment.comment.split("\n"),tag(:br))%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="form-group col-md-8 ml-5 mt-3">
                  <%= form_with model: review.comments.build, url: comments_path, method: :post, remote: true do |f| %>
                    <%#= hidden_field_tag :review_id, review.id %>
                    <%= f.hidden_field :review_id, value: review.id %>
                    <%= f.text_area :comment, class:"js-comment", size:"60x2", placeholder: "コメントする(2~200文字まで)" %><br>
                    <P class="js-comment-count pull-right text-right"></P>
                    <%= f.submit "コメントする", class:"btn btn-primary" %>
                  <% end %>
                </div>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
