<div class="book_info">
  <div class="book_image"><%= image_tag @book.item_image_url, size: "140x180" %></div>
  <div class="book_title"><%= @book.title %></div>
  <div class="book_auther"><%= @book.author %></div>
  <div class="book_link"><%= link_to "楽天Booksで購入", @book.item_url %></div>
</div>

<div>
  <P>読んだ</P>
  <P>読んでいる</P>
  <P>読んでみたい</P>
</div>

<% unless @reviews.where(user_id: current_user.id, book_id: @book.id).present?%>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review_form">
    レビューを投稿
  </button>
<% else %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review_edit">
    レビューを編集
  </button>
<% end %>

<!-- Modal/review_form-->
<div class="modal fade" id="review_form" tabindex="-1" role="dialog" aria-labelledby="review_formLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">レビュー投稿フォーム</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model:[@book, @review], url: book_reviews_path(@book), method: :post, remote: true do |f| %>
        <div class="modal-body">
          <div class="form_group">
            <%= f.text_area :comment, size:"50x5", class: "form_control"%>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "投稿", class: "btn btn-primary"%>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- end
Modal/review_form-->

<!-- Modal/review_edit-->
<div class="modal fade" id="review_edit" tabindex="-1" role="dialog" aria-labelledby="review_editLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">レビュー編集フォーム</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= form_with model:@user_review, url: book_review_path(@book), method: :patch, remote: true do |f| %>
        <div class="modal-body">
          <div class="form_group">
            <%= f.text_area :comment, size:"50x5", class: "form_control"%>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "更新", class: "btn btn-primary"%>
          <%= link_to "レビュー削除", book_review_path(@book), method: :delete, class:"btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- end
Modal/review_edit-->

  <div class="card mb-1">
    <div class="card-body">
      <% if @user_review.present?%>
        <b>本の感想</b>
        <%= image_tag @user_review.user.get_profile_image(60, 60) %>
        <%= @user_review.user.nickname %>
        <%= @user_review.comment%>
        <%= l @user_review.created_at %>
      <% else %>
        <b>まだレビューはありません</b>
      <% end %>
    </div>
  </div>


<% @reviews.each do |review| %>
  <div class="card mb-1">
      <div class="card-body">
        <%= link_to user_path(review.user_id) do %>
          <%= image_tag review.user.get_profile_image(60, 60) %>
        <% end %>
        <%= review.user.nickname %>
        <%= review.comment%>
        <%= l review.created_at %>
        <!--<%#= render "public/favorites/favorite", review: @reviews %>-->
        
        <%= form_with model: review.comments.build, url: comments_path, method: :post, remote: true do |f| %>
          <%#= hidden_field_tag :review_id, review.id %>
          <%= f.hidden_field :review_id, value: review.id %>
          <p><%= f.text_area :comment, size:"60x2" %></p>
          <%= f.submit "送信" %>
        <% end %>
        <% review.comments.where.not(id: nil).each do |comment| %>
        <div class="card mb-1">
          <div class="card-body ml-5">
            <%= image_tag comment.user.get_profile_image(60,60) %>
            <%= comment.user.nickname %>
            <%= comment.comment %>
          </div>
        </div>
        <% end %>
      </div>
  </div>
<% end %>